<!-- Place details page with entries -->

<h1><%= @place["name"] %></h1>


<ul>
  <% for entry in @entries %>
    <h2> <%= entry["title"] %> </h2>
    <p><%= entry["occurred_on"] %></p>
    <p><%= entry["description"] %></p>
  <% end %>

</ul>

<br>

<p>
  <a href="/entries/new?place_id=<%= @place["id"] %>">Add New Entry</a>
</p>

<br>

<p>
  <a href="/places">Back to List of Places</a>
</p>